body {
	@apply h-screen grid justify-center items-center;
}
.Welcom__copy {
	display: block;
}

.Welcome__title {
	@apply text-center;
	font-weight: var(--font-700);
	font-size: var(--text-h1);
	color: var(--text-color-primary);
}

.Welcome__title__slug {
	@apply text-center;
	font-weight: var(--font-400);
	font-size: var(--text-h3);
	color: var(--text-color-primary);
}
